* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px 150px;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 45px;
  word-spacing: 10px;
}
picture {
  display: block;
  background-color: aqua;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
picture img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
}
nav {
  display: inline;
  position: absolute;
  right: 150px;
  top: 65px;
}
nav a {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 8px 16px;
  margin: 7px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 1s;
}
nav a:hover,
nav a[href="#"] {
  background-color: rgb(248, 216, 36);
  color: black;
  border: rgb(248, 216, 36);
  font-size: 14px;
}

main {
  width: 100%;
}
main h2 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  position: relative;
  flex-basis: 20%;
  padding-top: 100px;
  padding-left: 50px;
}
section {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  flex-basis: 52%;
  padding-top: 50px;
}
.img-secundaria {
  flex-basis: 20%;
  padding-top: 80px;
}
article {
  margin: 25px;
}
article h3 {
  margin-bottom: 5px;
}

.logo-about,
.img-about {
  position: sticky;
  top: 0;
}
#section-contact {
  align-self: center;
  justify-self: center;
  margin-top: 50px;
  margin-right: 10px;
}
#section-contact p {
  margin: 10px;
}
.titulo-rules-gameInfo {
  width: 100%;
  padding: 0px;
  flex-basis: 100%;
  font-size: 20px;
}
.titulo-rules-gameInfo p {
  text-align: center;
  margin-top: 10px;
}
.section-rules * {
  font-size: 18px;
  margin-top: 10px;
}
li {
  list-style-position: inside;
}
.listas-rules ol li ol li {
  list-style-type: lower-alpha;
}
span {
  font-weight: bold;
}
th {
  background-color: black;
  color: white;
}

table {
  width: 55vw;
  border: 2px solid black;
  text-align: center;
  margin-left: 15px;
}
th,
td {
  border: 1px solid black;
  padding: 1rem;
}
tbody tr:nth-child(odd):hover,
tbody tr:nth-child(odd):hover + tr {
  background-color: rgb(248, 216, 36);
}

.gameInfo-lista {
  flex-basis: 80%;
  background-color: rgb(248, 216, 36, 0.7);
  border-radius: 50px;
  padding-bottom: 50px;
  margin-top: 30px;
}
.gameInfo-lista dl {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gameInfo-lista dt {
  font-weight: bold;
  padding: 10px;
}
.gameInfo-lista a {
  color: black;
}

.game-location {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
}

.game-location h3 {
  flex-basis: 100%;
  font-size: 36px;
}

.game-location article {
  flex-basis: 20%;
  background-color: rgb(248, 216, 36, 0.5);
  height: 400px;
  border-radius: 50px;
}
.game-location p {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
}

.game-location p a {
  text-decoration: none;
  color: black;
}
iframe {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  width: 70%;
  border: 3px solid black;
  border-radius: 50px;
  padding: 30px 10px;
}
fieldset {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 2rem 1rem;
  border-bottom: 3px solid #3b3b4f;
}
legend {
  font-weight: bold;
  font-size: 26px;
}
label {
  margin: 10px;
}
.bold-underline {
  flex-basis: 100%;
  font-weight: bold;
  text-decoration: underline;
}
fieldset div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 200px;
}
div label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

input[type="date"] {
  width: 120px;
  height: 35px;
  padding: 5px;
  margin-left: 15px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

.closestSchool label {
  flex-basis: 100%;
}

.position,
.uniformSize {
  display: flex;
  flex-wrap: wrap;
}
.position label,
.uniformSize label {
  flex-basis: 45%;
  padding: 5px;
}

.permision-toPlay {
  display: flex;
  flex-direction: column;
  border: none;
}
.permision-toPlay p {
  font-size: 14px;
}
.permision-toPlay label:first-of-type {
  background-color: rgb(248, 216, 36, 0.5);
  padding: 5px;
}
.permision-toPlay label:nth-last-child() {
  display: block;
}

button {
  background-color: rgb(248, 216, 36);
  border-color: rgb(248, 216, 36);
  border-radius: 15px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  color: black;
  font-family: "Raleway", sans-serif;
  width: 8rem;
  height: 3rem;
  margin: 0 auto;
  font-size: 19px;
  transition: all 1s;
}
button:hover {
  width: 9rem;
  height: 4rem;
}

footer {
  text-align: center;
  height: 50px;
  padding: 15px;
  margin-top: 30px;
}
